<div class="header {{ className ? className : ''}}">
  <div class="row">
    <div class="col">
      <img src="/assets/images/logo-white.png" alt="" routerLink="/" class="logo-white">
      <img src="/assets/images/logo-black.png" alt="" routerLink="/" class="logo-black">
      <a routerLink="/school">Курсы в школе</a>
      <a routerLink="/online-course">Онлайн обучение</a>
      <a routerLink="/team">Команда</a>
      <a routerLink="/contacts">Контакты</a>
    </div>
    <div class="col">
      <a class="header__btn--login" routerLink="/login">Войти</a>
      <a class="header__btn--register" routerLink="/login">Зареестрироваться</a>
    </div>
  </div>
</div>