.header
    .row
        .col
            &:first-child
                display: flex
                flex-direction: column
                a
                    text-decoration: none
                    font-size: 14px
                    color: #000000
                    margin-bottom: 10px
                    text-transform: uppercase
                    font-family: 'FuturaPT Medium'
                img
                    display: none
                    width: 245px
                    object-fit: contain
                    margin-bottom: 15px
                    cursor: pointer
                    outline: none
                    user-select: none
            &:last-child
                text-align: right
                a
                    padding: 10px 25px
                    font-size: 14px
                    margin: 0 5px
                    cursor: pointer
                    text-decoration: none
                    color: #000000
                    font-family: 'Lato Black'
                    display: inline-flex
    &__btn  
        &--login
            border: 1px solid #000000
            border-radius: 20px
    &.white
        a
            color: #fff !important
            border-color: #fff !important
        .col
            img.logo-white
                display: flex !important
    &.black
        a
            color: #000 !important
            border-color: #000 !important
        .col
            img.logo-black
                display: flex !important
            
