<div class="footer">
  <div class="row">
    <div class="col">
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
    <div class="col">
        <form class="footer__form">
          <mat-form-field>
              <input matInput placeholder="Поиск" value="" autocomplete="off">
          </mat-form-field>
        </form>
    </div>
  </div>
</div>