.footer
    width: 100%
    a
        font-size: 34px
        color: #d0cece
        margin-right: 20px
    .col
        &:last-child
            flex: 2
        .mat-form-field
            width: 100%
            color: #d0cece
            font-family: 'FuturaPT Medium'
            ::ng-deep
                .mat-form-field-infix
                    margin-top: 0
                    border-top: 0
    &__form
        display: flex
        &--search
            font-size: 34px
            color: #d0cece
            margin-left: 20px
            cursor: pointer
    &.white
        a, .mat-form-field, .footer__form--search
            color: #fff !important
        ::ng-deep
            .mat-form-field
                *
                    color: #fff !important
            .mat-form-field-underline
                background-color: #fff !important
            .mat-focused .mat-form-field-ripple
                background-color: #fff !important
    &.black
        a, .mat-form-field, .footer__form--search
            color: #000 !important
        ::ng-deep
            .mat-form-field
                *
                    color: #000 !important
            .mat-form-field-underline
                background-color: #000 !important
            .mat-focused .mat-form-field-ripple
                background-color: #000 !important
        