<section class="school">
    <div class="row">
        <div class="col fixed one-page">
        <div class="container">
            <app-header [className]="'black'"></app-header>
            <div class="school__text">
                <h2>Курсы в школе</h2>
                <p>образовательный проект и пространство для развития</p>
            </div>
            <app-footer class="app-footer"></app-footer>
        </div>
        </div>
        <div class="col scroll one-page">
        
        </div> 
    </div>
</section>