/* You can add global styles to this file, and also import other style files */

@font-face 
    font-family: 'FuturaPT Bold'
    src: url('./assets/fonts/FuturaPTBold.eot')
    src: url('./assets/fonts/FuturaPTBold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/FuturaPTBold.woff2') format('woff2'), url('./assets/fonts/FuturaPTBold.woff') format('woff'), url('./assets/fonts/FuturaPTBold.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'FuturaPT Medium'
    src: url('./assets/fonts/FuturaPTMedium.eot')
    src: url('./assets/fonts/FuturaPTMedium.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/FuturaPTMedium.woff2') format('woff2'), url('./assets/fonts/FuturaPTMedium.woff') format('woff'), url('./assets/fonts/FuturaPTMedium.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Lato Black'
    src: url('./assets/fonts/LatoBlack.eot')
    src: url('./assets/fonts/LatoBlack.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LatoBlack.woff2') format('woff2'), url('./assets/fonts/LatoBlack.woff') format('woff'), url('./assets/fonts/LatoBlack.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    
@font-face 
    font-family: 'Lato Bold'
    src: url('./assets/fonts/LatoBold.eot')
    src: url('./assets/fonts/LatoBold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LatoBold.woff2') format('woff2'), url('./assets/fonts/LatoBold.woff') format('woff'), url('./assets/fonts/LatoBold.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Lato'
    src: url('./assets/fonts/LatoRegular.eot')
    src: url('./assets/fonts/LatoRegular.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/LatoRegular.woff2') format('woff2'), url('./assets/fonts/LatoRegular.woff') format('woff'), url('./assets/fonts/LatoRegular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    