<section class="main">
  <div class="row">
    <div class="col fixed">
      <div class="container">
        <app-header></app-header>
        <div class="main__text">
          <p>открываем двери в творчество</p>
          <div class="main__text--btn">
            <a routerLink="/online-course">Онлайн обучение</a>
            <a routerLink="/school">Курсы в школе</a>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
    <div class="col scroll">
      <img class="col__bg" src="/assets/images/main/illustration.png" alt="">
      <img class="col__logo" src="/assets/images/main/logo.png" alt="">
    </div> 
  </div>
</section>